<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RTOB-Video</title>
  <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
</head>
<body>
    <h1>Object Detection Using Video</h1>
    <br>
    <form action="/video" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">Submit</button>
    </form>
    <br>
    <div>
        {{ url_for('video') }}
    </div>
    <br>
    <a href="/"> <button>Back</button></a>
</body>
</html>